@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Morabba";
    src: url(../public/fonts/MorabbaVF.woff2) format("woff2");
  }
}

@layer base {
  @font-face {
    font-family: "IranYekan";
    src: url(../public/fonts/Yekan.woff2) format("woff2");
  }
}

@layer base {
  @font-face {
    font-family: "Sans";
    src: url(../public/fonts/Sans.woff2) format("woff2");
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #d6d6d6;
}
::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}

body {
  scroll-behavior: smooth;
}

.hello::-webkit-scrollbar {
  display: none;
}